.administrator-collector-create-cview {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        font-size: 20px;
        width: 500px;

        .form-field {
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;

            label {
                padding-bottom: 15px;
            }
        }

        .submit-container {
            padding-bottom: 20px;
            font-weight: 600;
        }

        .error-container {
            flex: 1 0 auto;
            color: red;

            .error-item {
                padding-bottom: 10px;
            }
        }
    }
}
