.collector-trip-basic-info-view {
    .content {
        display: flex;
        justify-content: space-around;

        .title {
            font-weight: 600;
            padding-bottom: 10px;
        }
    }
}
