.user-box {
    background-color: #3498db;
    width: 300px;
    display: flex;

    align-items: center;

    .user-avatar,
    .logout-button {
        font-size: 25px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logout-button {
        cursor: pointer;

        &:hover{
            color:darken($color:#3498db, $amount: 50%);
        }
    }

    .user-title {
        flex: 1 0 auto;
    }
}
