.info-box {
    width: 300px;
    height: 250px;
    background-color: #3498db;
    color: white;

    padding: 40px;

    border-radius: 20px;
    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 40px;

        .main-value {
            font-size: 35px;
            font-weight: 600;
            text-align: center; 
        }

        .main-title {
            padding-top: 20px;
            font-size: 20px;
        }
    }

    .info-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
