.layout-header {
    display: flex;
    height: 50px;
    color:white;

    .home-button {
        width: 101px;
        color: white;
        background-color: #3498db;


        font-size: 25px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

            &:hover{
                color: darkgreen;
            }

        
    }

    .layout-navigation {
        background-color: #3498db;
        flex: 1 0 auto;
    }
}
