.login-header {
    height: 50px;
    color: white;
    background-color: #3498db;

    display: flex;
    align-items: center;

    i {
        font-size: 25px;
    }

    padding-left: 20px;

    .title-container {
        padding-left: 10px;
    }
}
