.collector-trip-add-container-view {
    flex: 1 0 auto;
    justify-content: center;
    display: flex;

    .collector-trip-add-container-layout-view-container {
        max-width: 1200px;
        width: 100%;
    }
}
