@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans");

html,
body,
#app-root {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

.field-container {
    padding-bottom: 15px;

    .field-title {
        padding-bottom: 10px;
        font-weight: 600;
    }

    div>* {
        width: 100%;
    }
}

.spinner-loader {
    color: #3498db;
}

.btn {
    font-weight: 600;

     &:not(:disabled) {
        &:hover {
            background-color: #3498db;
            color: white;
            opacity: 1;
        }
    }
}

.administrator-containers-cview {
    .table {
        tbody {
            tr {
                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

tbody {
    tr {
        &:hover {
            background-color: #f5f5f5;
        }
    }
}
