@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans");

html, body, #app-root {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

.field-container {
    padding-bottom: 15px;

    .field-title {
        padding-bottom: 10px;
        font-weight: 600;
    }

    div > * {
        width: 100%;
    }
}
